*{
    box-sizing: border-box;
  
}

body{
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 95%;
    max-width: 373px;
    margin: 2.4rem 0rem;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    background-color: #FFD18C;
    padding: 1.5rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 731px;
    width: 100%;

   
}

ul li{
    font-size: 1.6rem;
}

li a{
    text-decoration: none;
    color: #000000;
}

li a:hover{
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: center;
}

#payment-options{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

#payment-options button{
    background-color: #ffffff;
    border-radius: 2rem;
    border: 5px solid #FFA724;
    font-size: 1.6rem;
    font-weight: bold;
    width: 275.27px;
    padding: 1rem 1.5rem;
}

#bank-stats{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.stat-area{
    display: flex;
    flex-direction: column;
    max-width: 529px;
    width: 50%;
    text-align: left;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
}